.up {
    position: fixed;
    bottom: 8px;
    height: 38px;
    box-sizing: border-box;
    fill: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.up svg {
    height: 100%;
    width: 15%;
}

.up svg:last-child {
    transform: rotate(180deg);
}